@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.glide {

  .glide__track {
    .glide__slides {

      padding: 0;
      margin: 0;

      .slide-background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffffff;
        width: 100vw;
        height: 100vh;

        .slide-content{
          position: relative;
          top: 200px;

          .title-top{
            font-size: 2.8em;
            color: $color__theme_dark;
          }

          .title-bottom{
            font-size: 3.5em;
            color: $color__theme_dark;
          }

          .description{
            font-size: 0.8em;
            margin: 20px 0;
          }
        }
      }
    }
  }

  .glide__bullets {
    
    .glide__bullet {

      background-color: $color__grey;
      width: 75px;
      height: 10px;
      border-radius: 0;

      &:hover, &:focus {
        border-color: $color__theme_light;
      }

      &.glide__bullet--active {
        background-color: $color__theme_light;
      }

    }

  }

}