#home-works {
  padding-right: 150px;

  > .container-fluid {
    position: relative;
    top: 100px;
    height: calc(100% - 100px);

    > .row {
      height: 100%;

      .fold-col {
        padding: 0;

        .image-container{
          a{
            position: relative;
            display: block;
            text-align: center;

            &.teal.hvr-sweep-to-top:before {
              background-color: $color__transparent_teal;
            }

            &.pink.hvr-sweep-to-top:before {
              background-color: $color__transparent_pink;
            }

            &.sky_blue.hvr-sweep-to-top:before {
              background-color: $color__transparent_sky_blue;
            }

            &.purple.hvr-sweep-to-top:before {
              background-color: $color__transparent_purple;
            }
            
            &.hvr-sweep-to-top:before{
              background-color: rgba(0,0,0,.4);
              z-index: 2;
            }

            &:hover{
              .hover-detail{
                display: block;
              }
            }

            .hover-detail{
              display: none;
              position: absolute;
              left: 0;
              right: 0;
              top: 35%;
              color: $color__white;
              z-index: 3;

              i{
                font-size: 3em;
              }

            }

          }
        }

      }

    }
  }

}

.admin-bar {
  #home-works {
    > .container-fluid {
      top: 132px;
      height: calc(100% - 132px);
    }
  }
}