#home-works {
  padding-top: 100px;
  padding-right: 150px;

  > .container-fluid {
    height: 100%;

    > .row {
      height: 100%;

      .fold-col {
        padding: 0;
      }

    }
  }

}

.admin-bar {
  #home-works {
    padding-top: 132px;
  }
}