@import "carousel";

@import "home-works";
@import "carousel-about-us";
@import "home-contact";

#fold-navigation {
  position: fixed;
  right: 50px;
  top: 50%;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    cursor: pointer;
    color: $color__theme_light;

    &.active {
    	font-size: 1.8em;
    	color: $color__theme_dark;
    }
  }
}

.about-us-wrapper{
  position: relative;
  top: 200px;
  max-width: 1100px;
  margin: 0 auto 0;

  .about-us-left{

    blockquote{
      margin-left: 0;
      padding-left: 15px;
      border-left: 2px solid $color__theme_light;
    }

    .highlighted p{
      color: $color__theme_light;
    }
  }

  .about-us-right{

    .social-icon-wrapper{
      text-align: right;
      margin: 20px 0 0;

      a{
        font-size: 1.4em;
        color: $color__theme_light;
        display: inline-block;
        margin-left: 10px;

        &:hover{
          color: $color__theme_dark;
        }
      }
    }
  }

}

body.home{
  .site-footer{
    margin-top: -64px;
  }
}