$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #54392F;
$color__border-button-hover: #54392F;
$color__border-button-focus: #54392F;
$color__border-input: #54392F;
$color__border-abbr: #666;

$color__white: #fff;
$color__black: #000;
$color__light-grey: #a3a6a8;
$color__grey: #666;
$color__dark-grey: #333;
$color__brown: #54392F;
$color__light-brown: #AB7A5F;
$color__grey: #AEAEAE;
$color__bright-red: #fc455c;
$color__red: #911C3E;
$color__orange: #FE4B34;
$color__red-orange: #CA3A3B;
$color__purple: #773861;
$color__teal: #1bcab8;
$color__pink: #ff80aa;
$color__transparent_pink: rgba(255, 128, 170, 0.5);
$color__transparent_teal: rgba(27, 202, 184, 0.5);
$color__transparent_purple: rgba(119, 56, 97, 0.5);
$color__sky_blue: #8ce5fb;
$color__transparent_sky_blue: rgba(140, 229, 251, 0.5);
