.brown-background {
  background-color: $color__theme_dark;
  color: $color__white;
}

.white-background {
  background-color: $color__white;
  color: $color__theme_dark;
}

.light-brown-background {
  background-color: $color__theme_light;
  color: $color__white;
}