.brown-background {
  background-color: $color__brown;
  color: $color__white;
}

.white-background {
  background-color: $color__white;
  color: $color__brown;
}

.light-brown-background {
  background-color: $color__light-brown;
  color: $color__white;
}